{% extends "home/base_template.html" %}

{% block header %}

{% load staticfiles %}

<script>

	$(".active").removeClass("active")
	$("#interactive").addClass("active")

</script>

  <div class="inner cover">
        <h1 class="cover-heading"><a href="/interactive/movie_page">Single Movie Box Office</a></h1>
        <h1 class="cover-heading"><a href="/interactive/multiple_movie_page">Multiple Movie Box Office</a></h1>
        <h1 class="cover-heading"><a href="/interactive/movie_tickets_page">Movie Tickets Analysis</a></h1>
  </div>

{% endblock header %}