{% extends "home/base_template.html" %}

{% block header %}

{% load staticfiles %}

<script>

	$(".active").removeClass("active")
	$("#about").addClass("active")

</script>
<style>
p {
}
</style>

<div class="inner cover">
  <h1 class="cover-heading">About 1.37:1</h1>
  <p class="lead">
    My name is Jim Shields, and I've started building this site out of a desire to say something new about film. Though there are many brilliant film writers out there (not to mention those involved in the filmmaking process), I haven't seen much in the way of data analysis for film. I hope I can add to that conversation through interactive visualizations using film data (see "Interactive") and blog posts analyzing the data (see "Blog").
  </p>
  <p class="lead">
    Thanks to:
    <p><a href="https://twitter.com/mdo">@mdo</a>, who created this Cover template for <a href="http://getbootstrap.com">Bootstrap</a>.</p>
    <p><a href="https://www.flickr.com/photos/amarilloposters/6086868500/in/photolist-agSMWC-5DDyxM-N9Tpy-mnpiZk-NVcPv-6fGVVS-4zvBZC-9hr4T2-52UeAx-7NZLTR-bCvLsz-fNVzbr-dk1LA2-6hAtM-8h5xB1-dGCbNU-2idVBu-5SJnMQ-7w2fa1-4M7nzw-jTmCx-6hVQGU-i1LCF-7iPJyb-4v9kc7-efLr9k-9hucJb-e3GcAT-7iPJML-8M1jZ-7XKXe5-3qNv8H-9hubHy-8XHYvF-3eVpDB-69h9pB-5YiP2h-4j5XmV-3nJhQm-8tZjW1-dTwvps-d7VspJ-yNj4p-8irDiT-6S4g4R-bhJdQc-4j3xYm-7TTxPo-6eFTGN-e2FSzr">Charles Henry</a>, who took this perfect background photo (I changed the color slightly to make the text a bit more readable).</p>
  </p>
</div>

{% endblock header %}